services:
    db:
        container_name: postgres_db
        image: postgres:15
        restart: always
        ports:
            - "5432:5432"
        environment:
            POSTGRES_PASSWORD: imp
            POSTGRES_USER: imp
            POSTGRES_DB: olmcentral
        volumes:
            - pgdata:/var/lib/postgresql/data

    backend:
        build: ./backend
        container_name: fastapi_backend
        ports:
            - "8000:8000"
        env_file:
            - .env
        depends_on:
            - db
        environment:
            - ENVIRONMENT=build

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
            args:
                MODE: production
        container_name: vue_frontend
        ports:
            - '80:80'
        environment:
            - NODE_ENV=build
        depends_on:
            - backend

volumes:
    pgdata:
