services:
    db:
        container_name: postgres_db
        image: postgres:15
        restart: always
        ports:
            - "5432:5432"
        environment:
            POSTGRES_PASSWORD: imp
            POSTGRES_USER: imp
            POSTGRES_DB: olmcentral
        volumes:
            - pgdata_dev:/var/lib/postgresql/data

    backend:
        build: ./backend
        container_name: fastapi_backend
        ports:
            - "8000:8000"
        env_file:
            - .env
        depends_on:
            - db
        volumes:
            - ./backend/app:/app/app
            - ./backend/app/migrations:/app/migrations
        environment:
            - ENVIRONMENT=dev

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
            args:
                MODE: dev
        container_name: vue_frontend
        ports:
            - '5173:5173'
        volumes:
            - ./frontend:/app
            - /app/node_modules
        environment:
            - NODE_ENV=dev
            - VITE_API_URL=http://localhost:8000
        depends_on:
            - backend

volumes:
    pgdata_dev:
