DB_DRIVER=postgresql
DB_HOST=localhost
DB_PORT="5432"
DB_USER=imp
DB_PASSWORD=imp
DB_PATH=olmcentral

AUTH_SERVICE_URL="http://host.docker.internal:8080/internal/api"
AUTH_API_KEY="devapikey"
EXPERIMENTAL_API_KEY="experimentalapikey"